{% extends 'layouts/form.html' %}
{% block title %}Create Account{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Register <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>

    <form action="" method="POST">
      {{ form.hidden_tag() }}

      {{ form.first(class_ = 'form-control first-input', placeholder = form.first.label.text, required = true, autofocus = true) }}
      {% for error in form.first.errors %}
              <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <br>
      {{ form.last(class_ = 'form-control', placeholder = form.last.label.text, required = true, autofocus = true) }}
      {% for error in form.last.errors %}
              <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <br>
      {{ form.name(class_ = 'form-control', placeholder = form.name.label.text, required = true, autofocus = true) }}
      {% for error in form.name.errors %}
              <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <br>
      {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}
      {% for error in form.email.errors %}
              <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <br>
      {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
      {% for error in form.password.errors %}
              <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <br>
      {{ form.confirm(class_ = 'form-control last-input', placeholder = form.confirm.label.text, required = true) }}
      {% for error in form.confirm.errors %}
              <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      <br><p>{{ form.submit() }}</p>
    </form>

    <p class="pull-left"><a href="{{ url_for('login') }}">Login</a></p>
    
  </form>
{% endblock %}
