{% extends 'layouts/form.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Search <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.cuisine(class_ = 'form-control first-input', placeholder = form.cuisine.label.text, required = true, autofocus = true) }}
    {{ form.time(class_ = 'form-control last-input', placeholder = form.time.label.text, required = true) }}
    {{ form.submit(class_ = 'form-control last-input', placeholder = form.submit.label.text, required = true) }}
  </form>
{% endblock %}


